input {
    width: 80%;
    border: none;
    border-top: 2px solid lightseagreen;
    border-bottom: 2px solid lightseagreen;
    box-sizing: border-box;
    height: 3em;
    padding-left: 10px;
}
button {
    margin-left: 10px;
    width: 20%;
    box-sizing: border-box;
    border: none;
    background-color: lightseagreen;
    color: white;
    font-family: sans-serif;
    height: 3em;
    position: absolute;
    right: 0;
}

button:hover {
    border: 2px solid lightseagreen;
    background-color: white;
    color: lightseagreen;
}

.todo-input-wrapper {
    position: relative;
}

hr {
    margin: 1.5% 0;
    color: lightseagreen;
}